HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
logs/**/*.log

# Tailwind CSS
src/main/resources/static/css/output.css

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Directories for various editors and IDEs
.vscode/
.idea/

# MacOS system files
.DS_Store

# Linux system files
*.swp

# Temporary files
tmp/
temp/
*.tmp
*.temp
*.swp
*.swo
*.bak

# Package lock files
package-lock.json
yarn.lock

# Coverage directory used by testing tools
coverage/

# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Production build outputs
dist/
build/

# Miscellaneous
*.log
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
